@model EventManager3.Models.Events
@{
    ViewData["Title"] = "Delete an Event:";
}
<h3>Delete Event:</h3>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="EventsID" value="@Model.EventsID" />

    <button>Delete event</button>


</form>

<form asp-controller="Home" asp-action="Index" method="get">
    <button>Go back</button>
</form>