@{
    ViewData["Title"] = "Home Page";
}
<h2>Details</h2>
<form action="Create" method="post">
    <button class="btn btn-sm btn-default">Create Event</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Details">Date</a>
            </th>
            <th>
                <a asp-action="Details">Location</a>
            </th>
            <th>
                <a asp-action="Details">Genre</a>
            </th>
        </tr>
    </thead>
</table>
